.navbar-default{
    background-color: black !important;
    font-family: 'Roboto', sans-serif;

}
.navbar-brand{
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
}
.marca {
  font-family: 'Anton', sans-serif;
  font-size: 3.8rem;
 color: #d59a29;
 padding-top: 2rem;
 padding-left: 3rem;
 padding-bottom: 1rem;
 border-bottom-style: dashed;
 border-bottom-color: white;
 border-bottom-width: thin;
 border-left-style: solid;
 border-left-color: white;
 border-left-width: thin;
}
.inicio{
  padding-left:  3rem;
  padding-bottom: 1.5rem;
  border-left-style: solid;
  border-left-color: white;
  border-left-width : medium;
}
.footer{
  background-color: black;
  color: white;
  padding: 3rem;
}


#section1{
  background-color: black;
  color: white;
  z-index: 1;
}

#section2{
  z-index: 2;
  position:relative;
  width: 100%;
  height: 60rem;
  top: -18rem;

  }
#section3{
    padding-top: 30rem
    z-index: 2;
    background: url(../images/banner2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    color: white;
    height: 400px;
    }
    #section4{
      z-index: 2;
      position:relative;
      width: 100%;
      top: -13rem;
      display: inline;
        }
    #section5{
        z-index: 2;
        position:relative;
        width: 100%;
        padding-left: 45REM;
        top: -50rem;
            }
    #section6
    {
    }


#headerimg
{ background-size: (100% 100%);
  border: -1rem;
}
#boyimag{ padding-left: 3rem; }

td{padding: 3rem;
   padding-left: 5rem;
    width: 45%;

}

a {
    padding-left: 6rem;
    padding-right: 6rem;
}
li {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}

h4 {
  display: inline-block;
}
p {
  width: 19.5rem;
  padding: .5rem;
  padding-left: 1rem;
  font-size: .8rem;
}
